.footer-block {
  width: 1440px;
  background-color: #131316;
  padding-bottom: 40px;
}

.footer-block__logotype {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 109px;
  padding-left: 78px;
  margin-bottom: 68px;
}

.footer-block__logotype::after {
  content: "";
  background: url(assets/icon_footer_logo.png) no-repeat 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: 26px;
}

.footer-block__main-area {
  display: flex;
  flex-direction: row;
}

.footer-block__input-wrapp {
  width: 440px;
  height: 206x;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #f4f4f6;
  margin-left: 85px;
}

.footer-block__input_title {
  color: #35333c;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 8px;
  margin-left: 24px;
  padding-top: 24px;
}

.footer-block__input_description {
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.footer-block__input-element {
  margin-left: 24px;
  margin: 25px;
  margin-right: 16px;
  border-radius: 8px;
  border: 1px solid #bebdc6;
  /* display: flex; */
  flex-direction: row;
  width: 220px;
  padding: 12px 24px 12px 12px;
  align-items: center;
  gap: 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.footer-block__input-element:focus {
  border-color: #4891ff;
}

.footer-block__input-element:focus-within {
  border-radius: 8px;
  border: 1px solid #5570f1;
  color: #5570f1;
  border-color: #5570f1;
}

.footer-block__input-wrapper:focus-within .footer-block__input-element {
  border-radius: 8px;
  border: 1px solid #5570f1;
  color: #5570f1;
}

.footer-block__input_button {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4891ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
}

.footer-block__input_button:hover {
  color: #4891ff;
  background-color: #fff;
  cursor: pointer;
}

.footer-block__input:hover {
  color: #4891ff;
  background-color: #fff;
  cursor: pointer;
}

.footer-block__input {
  background-color: #4891ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.footer-block__about-us {
  margin-left: 130px;
  display: flex;
  flex-direction: row;
  margin-right: 204px;
}

.footer-block__about-us_header {
  display: flex;
  flex-direction: column;
  color: #dfdee2;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

.footer-block__about-us_title {
  margin-bottom: 20px;
  margin-right: 120px;
}

.footer-block__about-us_achor {
  color: #bcc2c3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer-block__about-us_achor:hover {
  color: #dfdee2;
}

.footer-block__about-us_header:nth-last-child(1):hover {
  color: #dfdee2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer-block__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 16px;
}

.footer-block__icon:hover {
  cursor: pointer;
}

.footer-block__image-in {
  /* width: 24px;
  height: 24px; */
  padding-bottom: 6px;
}
.footer-block__linkx {
  width: 18px;
  height: 17px;
  margin-top: 44px;
  margin-right: 18px;
  margin-left: 88px;
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-items: center; */
}

.footer-block__footer {
  width: 237px;
  height: 21px;
  flex-shrink: 0;
  color: #bcc2c3;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 86px;
  margin-bottom: 100px;
  margin-right: 1118px;
}
