html {
  font-family: "Poppins";
}

body {
  background-color: rgba(148, 141, 141, 0.518);
  margin: 8px;
  height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* Hero Section */

.hero_container {
  padding-top: 20px;
  padding-bottom: 104px;
  background-color: #fff;
  width: 1440px;
  /* display: flex; */
}

.header_hero_page {
}

.hero_container .header_hero_page .title_hero_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 1248px; */

  /* margin-right: 750px; */
}

.hero_container .header_hero_page .title_hero_page .logotype_block {
  display: flex;
}
.header_hero_page .title_hero_page .title_head {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  vertical-align: middle;
  padding-right: 8px;
  padding-left: 96px;
  width: 104px;
  height: 32px;
}

.header_hero_page .title_hero_page .head_line {
  width: 16px;
  height: 18px;
  vertical-align: middle;
  transform: rotate(6.301deg);
  padding-bottom: 6px;
}

.header_hero_page .button_nav_mob {
  width: 40px;
  height: 40px;
  margin-top: 24px;
  margin-right: 16px;
  margin-left: 319px;
  display: none;
}

.header_hero_page .nav_in_the_page {
  margin-right: 96px;
}

.header_hero_page .nav_in_the_page .link {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding-top: 32px;
  /* padding-right: 40px; */
}

.header_hero_page .nav_in_the_page .link:not(:last-child) {
  padding-right: 40px;
}

.header_hero_page .nav_in_the_page .push_info {
  /* display: inline-flex; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 12px;
  background: #f5f5f5;
  border: none;
  font-size: 16px;
}

.header_hero_page .nav_in_the_page .push_info:hover {
  cursor: pointer;
  background-color: ;
  background-color: #131313;
  color: #f5f5f5;
  border: 2px solid wheat;
  border-radius: 12px;
  box-shadow: black;
  font-weight: 500;
  font-size: 18px;
}

.header_hero_page .main_block {
  margin-top: 108px;
  margin-left: 96px;
  margin-right: 468px;
  margin-bottom: 40px;
  width: 876px;
}

.header_hero_page .main_block .main_title {
  color: #131316;
  /* font-feature-settings: "clig" off, "liga" off; */
  font-size: 64px;
  font-weight: 500;
  line-height: 110%; /* 70.4px */
  letter-spacing: -2px;
  width: 824px;
  margin-bottom: 24px;
  margin-right: 52px;
}

.header_hero_page .main_block .description {
  color: #131316;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; /* 32px */
  width: 611px;
  margin-right: 52px;
}

.hero_container .header_hero_page .previev_block {
  width: 1440px;
  background-color: #fff;
  display: flex;
}

.hero_container .header_hero_page .button_space {
  margin-left: 96px;
  margin-bottom: 80px;
  margin-right: 242px;
  margin-top: 40px;
  display: flex;
}

.hero_container .header_hero_page .button_space .get_start {
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
  border-radius: 16px;
  background-color: #4891ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border: none;
  margin-right: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.hero_container .header_hero_page .button_space .get_start:hover {
  cursor: pointer;
  color: #4891ff;
  background-color: #fff;
  border: 1px solid #4891ff;
  font-weight: 600;
  font-size: 20px;
}

.hero_container .header_hero_page .button_space .push_demo {
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
  border-radius: 16px;
  background-color: #f5f5f5;
  color: #131316;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  border: none;
  /* background: url(assets/dot_&_line_icon.svg) no-repeat right;
  background-position-y: calc(100% - 18px);
  background-position-x: calc(100% - 156px); */
  padding-left: 60px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hero_container .header_hero_page .button_space .push_demo::before {
  content: "";
  background: url(assets/dot_&_line_icon.svg) no-repeat 50%;
  width: 18px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.hero_container .header_hero_page .button_space .push_demo:hover {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background-color: #131316;
  color: #f5f5f5;
}

.hero_container .header_hero_page .previev_block .team_table {
  width: 612px;
  border-radius: 16px;
  border: 1px solid #dfdee2;
  margin-right: 24px;
  margin-left: 96px;
  margin-top: 80px;
  margin-bottom: 107px;
  display: flex;
}

.hero_container .header_hero_page .previev_block .team_table .title_t_table {
  width: 159px;
  color: #131316;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
  padding-top: 48px;
  padding-left: 36px;
  padding-bottom: 8px;
}

.hero_container .header_hero_page .previev_block .team_table .description_t_table {
  width: 159px;
  color: #131316;
  font-size: 10px;
  font-weight: 400;
  padding-right: 72px;
  padding-bottom: 24px;
  padding-left: 36px;
}

.hero_container .header_hero_page .previev_block .team_table .line_in_table {
  width: 159px;
  padding-left: 36px;
  padding-bottom: 27px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .photo_previev
  .photo_in_table {
  border-radius: 50%;
  margin-bottom: 33px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .photo_previev
  .photo_in_table:nth-child(1) {
  margin-left: 27px;
  background-color: rgb(254, 255, 208);
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .photo_previev
  .photo_in_table:nth-child(2) {
  margin-left: -12px;
  background-color: rgb(222, 245, 253);
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .photo_previev
  .photo_in_table:nth-child(3) {
  margin-left: -12px;
  background-color: #fff;
}

.hero_container .header_hero_page .previev_block .team_table .block_diagrama {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  margin-left: -100px;
  margin-right: 773px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .block_diagrama
  .line_in_table_vertical {
  margin-left: 100px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .block_diagrama
  .line_in_table_vertical:nth-child(2) {
}

.hero_container .header_hero_page .previev_block .team_table .item_block_grey {
  background-color: #f5f5f5;
  border-radius: 8px;
  /* width: 213px; */
  height: 48px;
  margin-top: 44px;
  margin-right: 72px;
  margin-bottom: 11px;
  margin-left: -1082px;
  display: flex;
  width: fit-content;
  align-items: middle;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_grey
  .text_in_item_block {
  color: #131316;
  font-size: 10px;
  font-weight: 500;
  width: 90px;
  text-align: left;
  padding-right: 78px;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 5px;
}

/* .hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_grey
  .text_in_item_block::before {
  content: "";
  background: url(assets/mini_photo_man_1.svg) no-repeat 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
} */

.hero_container .header_hero_page .previev_block .team_table .item_block_yellow {
  background-color: #f6fee0;
  border-radius: 8px;
  width: 213px;
  height: 48px;
  margin-top: 102px;
  margin-left: -186px;
  margin-right: 72px;
  margin-bottom: 11px;
  display: flex;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_yellow
  .text_in_item_block {
  color: #131316;
  font-size: 10px;
  font-weight: 500;
  width: 128px;
  text-align: left;
  padding-right: 38px;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 5px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_grey
  .photo_in_text_man_lpz {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 20px;
  /* margin-right: 10px; */
  margin-bottom: 12px;
}

/* .hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_yellow
  .text_in_item_block::before {
  content: "";
  background: url(assets/mini_photo_man_1.svg) no-repeat 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
} */

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_yellow
  .photo_in_text_man_tom {
  width: 22px;
  height: 22px;
  background-color: #daf4fe;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_yellow
  .photo_in_table_man_lpz {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: -15px;

  margin-bottom: 12px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_lightblue
  .photo_in_text_man_tom {
  width: 22px;
  height: 22px;
  background-color: #daf4fe;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: -5px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_lightblue
  .photo_in_table_man_tam {
  width: 22px;
  height: 22px;
  background-color: #f6fee0;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 12px;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_lightblue
  .photo_in_table_man_lpz {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: -15px;
  margin-bottom: 12px;
}

.hero_container .header_hero_page .previev_block .team_table .item_block_lightblue {
  background-color: #daf4fe;
  border-radius: 8px;
  width: 213px;
  height: 48px;
  margin-top: 162px;
  margin-right: 72px;
  margin-bottom: 11px;
  margin-left: -284px;
  display: flex;
}

.hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_lightblue
  .text_in_item_block {
  color: #131316;
  font-size: 10px;
  font-weight: 500;
  width: 128px;
  text-align: left;
  padding-right: 38px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 5px;
}

/* .hero_container
  .header_hero_page
  .previev_block
  .team_table
  .item_block_lightblue
  .text_in_item_block::before {
  content: "";
  background: url(assets/mini_photo_man_1.svg) no-repeat 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
} */

/* Shit */

/* display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.hero_container .header_hero_page .previev_block .team_table .block_title {
  display: block;
}

.hero_container .header_hero_page .previev_block .price_block .sale_diagram {
  flex-direction: row;
  justify-content: space-around;
  margin-right: 96px;
  margin-left: 24px;
}

/* Section 2 Row-Reverse */

.section_featuring_container {
  padding-bottom: 106px;
  background-color: #fff;
  width: 1440px;
  display: flex;
}
